h1 {
	color: white;
	background-color: #b50043;
	font-size: 33px;
	letter-spacing: 3px;
	font-family: "Trajan W01 Regular";
	text-align: center;
	width: 60%;
	height: 16%;
	white-space: pre-line;
}

body {
	font-family: Trade Gothic Next W01,Helvetica Neue,Helvetica,Arial,sans-serif;
	background-color: #f7f7f7;
}

img {
	width: 40%;
	height: auto;
	margin-bottom: 90px;
}

<a class="worldmarks text-trajan" href="https://www.scu.edu">
		<span class="scu-primary">Santa Clara University</span><br>
		<span class="scu-tagline">The Jesuit University in Silicon Valley</span>
</a>						             


.form-control {
			width: 100%;
			height: 37px;	
			padding: 6px 12px;
		 	background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
